.about-section {
  padding: 100px 0;
}

.about-section .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 75px;
}

.about-left {
  flex-shrink: 0;
  width: 472px;
}

.about-contact {
  align-items: center;
  display: flex;
  gap: 15px;
}

.about-desc {
  font-weight: 400;
  font-size: 22px;
  text-align: justify;
}

.about-contact img {
  background-color: var(--neutral);
  border-radius: 100%;
  height: 92px;
  object-fit: none;
  width: 92px;
}

.about-section .button {
  margin-top: 48px;
}

.about-img {
  border-radius: 0 326px 0 123px;
  height: 700px;
  flex-grow: 1;
  overflow: hidden;
}

.about-title {
  font-size: 50px;
  font-weight: 400;
}
